<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Wenmo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>983D6648B2E6E909B973EDA5438B1506E1E403AC</string>
				<key>dateExpires</key>
				<string>2027/6/29</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>983D6648B2E6E909B973EDA5438B1506E1E403AC</string>
						<key>dateExpires</key>
						<string>2027/6/29</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>J69ASPPPY9.com.wenmo.input.keyboard</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>J69ASPPPY9</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>WenmoKeyboard.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>97886ad6-ed68-44c0-8b35-e3b6ae12e107</string>
						<key>dateExpires</key>
						<string>2027/6/29</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: com.wenmo.input.keyboard</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J69ASPPPY9</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>J69ASPPPY9.com.wenmo.input</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>J69ASPPPY9</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Wenmo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>90dbf4e4-0636-4926-a338-4c005c4fc6c1</string>
				<key>dateExpires</key>
				<string>2027/6/29</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.wenmo.input</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>J69ASPPPY9</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
